/external
/*build*
/*prefix/
*.pyc
/tools/python/pyvenv
/.settings
/.metadata
/.cproject
/.project
/.pydevproject
.project
venv*
performance_tests/
tools/python/.coverage
*.egg-info/

.idea/
cmake-build*/
.vscode/

docs/build/
cpp/build*/
